<div class="row">
	<div class="col-md-3 col-sm-12">
		<mat-card class="mat-card mb-3 text-center">
			<mat-card-header>
				<fa-icon
					[classes]="['stretched-link']"
					(click)="openRepository(user.login)"
					mat-card-avatar
					size="2x"
					[spin]="true"
					[icon]="['fab', 'github']"
					href=""
				>
				</fa-icon>

				<mat-card-title class="mat-card-title text-dark">
					{{ user.login }}
				</mat-card-title>
			</mat-card-header>

			<img
				mat-card-image
				[defaultImage]="defaultImage"
				[errorImage]="defaultImage"
				[lazyLoad]="user.avatarUrl"
				class="rounded img-fluid"
				alt="Avatar"
			/>

			<mat-card-content *ngIf="user.name" class="text-left">
				<h4 class="font-weight-bold">{{ user.name }}</h4>
				<p *ngIf="user.location">
					<fa-icon mat-card-avatar [icon]="['fas', 'map-marker-alt']" [classes]="['mr-1']"></fa-icon>
					<span>{{ user.location }}</span>
				</p>
				<p *ngIf="user.blog">
					<fa-icon mat-card-avatar [icon]="['fas', 'link']" [classes]="['mr-1']"></fa-icon>
					<span>{{ user.blog }}</span>
				</p>
				<p *ngIf="user.biography">Biography: {{ user.biography }}</p>
			</mat-card-content>
		</mat-card>
	</div>
</div>
