<div class="main-raised p-3">
	<div class="row text-center text-lg-left">
		<div *ngFor="let user of userList" class="col-lg-2 col-md-4 col-sm-1">
			<mat-card
				class="mat-card mb-3 text-center"
				(click)="openRepository(user.login)"
			>
				<mat-card-header>
					<fa-icon
						mat-card-avatar
						size="2x"
						[icon]="['fab', 'github']"
					>
					</fa-icon>

					<mat-card-title class="text-dark">
						{{ user.login }}
					</mat-card-title>
				</mat-card-header>

				<img
					mat-card-image
					class="rounded img-fluid"
					[src]="user.avatarUrl"
					alt="Avatar"
				/>
			</mat-card>
		</div>
	</div>
</div>
